<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
    <img
      src="../../../assets/Luz-foto-perfil-1.jpg"
      class="img-fluid"
      id="fotoperfil"
      alt="foto de María Luz García Márquez"
    />
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h2 class="row" id="nombre">{{ persona.nombre }} {{ persona.apellido }}</h2>
    <h4>Full Stack Developer Jr</h4>
  </div>
  <div id="text-acerca-de" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <span>
      <h1>Acerca de mí</h1>
      <h5>
        A lo largo de mi carrera profesional me he desempeñado en tareas de
        asistencia ejecutiva y de servicio, lo cual me ha permitido fortalecer
        mis habilidades blandas. <br />En esta nueva etapa de mi vida, estoy
        capacitándome como Desarrolladora Web Full Stack.
      </h5>
    </span>
  </div>
</div>
