<div class="row">
  <div class="container">
    <div class="logo">
      <img
        src="../../../assets/argpro.png"
        id="logoAP"
        alt="logo argentina programa"
      />
    </div>
    <div class="rsociales">
      <div>
        <a href="https://twitter.com/Luzgm13feb"
          ><img src="../../../assets/twitter.png" alt="logo twitter"
        /></a>
        <a href="https://www.facebook.com/mluz.gmarquez/"
          ><img src="../../../assets/fbk.png" alt="logo facebook"
        /></a>
        <a href="https://www.instagram.com/luz_garcia_marquez/?hl=es"
          ><img src="../../../assets/insta.png" alt="logo instagram"
        /></a>
        <a href="https://github.com/Luz-GM/Portfolio_Garcia_Marquez_Maria_Luz"
          ><img src="../../../assets/GitHub.png" alt="logo github"
        /></a>
        <a href="https://www.linkedin.com/in/luz-garcia-marquez-21b15b128/"
          ><img src="../../../assets/in.png" alt="logo linkedin"
        /></a>
        <button
          type="button"
          class="btn btn-outline-light btn-md"
          (click)="login()"
          *ngIf="!isLogged"
        >
          Login
        </button>
        <button
          type="button"
          class="btn btn-outline-light btn-md"
          (click)="onLogOut()"
          *ngIf="isLogged"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</div>
